<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus clientes | Painel de controle</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- <link rel="stylesheet" href="css/adm.css"> -->

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    body {
      font-family: 'Montserrat', sans-serif;
      background-color: #00a898;
    }

    #caption h1 {
      font-weight: bold;
      color: black;
    }


    #divTudo {
      margin: 50px;
      padding: 20px;
      border-radius: 20px;
      background-color: white;
      overflow: hidden;
    }

    #divTudo table {
      /* box-shadow: 0 0 5px black; */
      background-color: white;
    }

    #clientesEncontrados {
      font-weight: bold;
      color: black;
    }

    /* .table {
      table-layout: fixed;
    } */

    .whatsapp,
    .email {
      max-width: 18px;
    }

    #searchBtn {
      max-width: 18px;
    }

    .tableButtons {
      display: flex;
      justify-content: center;
    }

    .table td {
      text-align: center;
    }

    .table th {
      position: relative;
    }
  </style>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand mx-auto" href="#">
          <h1 class="fw-bold mb-0 h4">Meus Clientes</h1>
        </a>
      </div>
    </nav>

    <div class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow">
      <a class="navbar-brand mx-auto" href="#">
        <h2 class="fw-bold mb-0 h6">Lista</h2>
      </a>
      <a class="navbar-brand mx-auto" href="#">
        <h2 class="fw-bold mb-0 h6">Grupos</h2>
      </a>
    </div>

  </header>

  <div class="table-container mt-5" id="divTudo">

    <table class="table align-middle caption-top" id="table">

      <caption class="text-center position-relative" id="caption">
        <h1 class="h3">Lista de clientes</h1>

        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filtroModal">
          Filtros
        </button>

        <div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar por</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-check">

                  <!-- botão total gasto -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#total-gasto-modal">
                    Total Gasto
                  </button>

                  <!-- Modal "Total Gasto" -->
                  <div class="modal fade" id="total-gasto-modal" tabindex="-1" role="dialog"
                    aria-labelledby="total-gasto-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="total-gasto-modal-label">Filtrar Total Gasto</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="total-gasto-operacao">Operação:</label>
                            <select class="form-control" id="total-gasto-operacao">
                              <option value="maior-igual">Maior ou igual a</option>
                              <option value="maior">Maior que</option>
                              <option value="menor-igual">Menor ou igual a</option>
                              <option value="menor">Menor que</option>
                              <option value="igual">Igual a</option>
                              <option value="diferente">Diferente de</option>
                              <option value="entre">Entre</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="total-gasto-valor">Valor:</label>
                            <input type="text" class="form-control" id="total-gasto-valor">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Aplicar Filtro</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Aplicar</button>
              </div>
            </div>
          </div>
        </div>


        <button id="filterBtn" class="btn btn-outline-secondary">
          <i class="bi bi-funnel"></i> Período
        </button>

        <p class="mb-0" id="clientesEncontrados">
          <%= totalUsuarios %> clientes encontrados
        </p>
        <p>
          <%= totalCadastrados %> são participantes cadastrados
        </p>
        <!-- <img src="img/search.png" id="searchBtn" alt="" class="position-absolute top-0 end-0 mt-4 me-2"
          style="transform: translate(-50%, -50%);"> -->
      </caption>

      <thead>
        <tr></tr>
        <th class="text-center">Clientes</th>
        <th class="text-center">Telefone</th>
        <th class="text-center">E-mail</th>
        <th class="text-center">Total gasto</th>
        <th class="text-center">Compras</th>
        <th class="text-center">Avaliação</th>
        <!-- <th class="text-center">última compra</th> -->
        <th class="text-center">Gasto médio</th>
        <th class="text-center">Cliente há</th>
        <th class="text-center">Saldo</th>
        <th class="text-center">Créditos conquistados</th>
        <th class="text-center">Créditos resgatados</th>
      </thead>

      <tbody class="table-group-divider">


      </tbody>
    </table>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/plugin/relativeTime.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/locale/pt-br.js"></script>
<script>
  dayjs.extend(window.dayjs_plugin_relativeTime);
  dayjs.locale('pt-br')
  let aaaa = dayjs('2020-04-04').locale('pt-br').format()
  console.log(aaaa)
  // var customLocale = window.dayjs_locale_zh_cn
  </script>

<script>
  let datatable = $(document).ready(async function () {
    await $('.table').DataTable({

      "responsive": true,
      "scrollCollapse": true,
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        },
      "search": {
        "searchPanel": true
      },
      'processing': true,
      'serverSide': true,
      'serverMethod': 'get',
      'ajax': {
        'url': '/usuarios'
      },
      'aaSorting': [],
      'columns': [
        { data: 'nome' },
        {
          data: 'telefone',

          render: function (data, type) {
            if (type === 'display') {
              let link = `tel:${data}`;

              return `<a title = ${data} href="` + link + '">' + `<img src="img/whatsapp.png" class="whatsapp" alt="">` + '</a>';
            }

            console.log('dayjs.duration(1, "minutes").locale("pt-br").humanize()')

            return data;
          }
        },
        {
          data: 'email',

          render: function (data, type) {
            if (type === 'display') {
              let link = `mailto:${data}`;

              return `<a title = ${data} href="` + link + '">' + `<img src="img/email.png" class="email" alt="">` + '</a>';
            }

            return data;
          }
        },
        { data: 'total_gasto' },
        { data: 'numero_de_compras' },
        { data: 'avaliacao_loja' },
        { data: 'gasto_medio' },
        {
          data: 'createdAt',

          render: function (data, type) {
            
            if (type === 'display') {

              let date = dayjs(data).fromNow(true);

              return date;
            }

            return data;
          }

        },
        { data: 'saldo_cashback' },
        { data: 'total_cashback' },
        { data: 'cashback_resgatado' }
      ]
    });
  });
</script>

</html>