<!DOCTYPE html>
<html>
<head>
	<title>Avaliação de Estrelas</title>
	<style>
		.star {
			width: 40px;
			height: 40px;
			background-image: url('../public/img/star0.png');
			background-size: cover;
			display: inline-block;
			cursor: pointer;
		}
		.star.selected {
			background-image: url('../public/img/star1.png');
		}
	</style>
</head>
<body>
	<h1>Avaliação de Estrelas</h1>
	<p>Clique nas estrelas abaixo para avaliar:</p>
	<div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<script>
		const stars = document.querySelectorAll('.star');
		const rating = document.querySelector('#rating');

		stars.forEach((star, index) => {
			star.addEventListener('click', () => {
				// marca as estrelas clicadas e desmarca as outras
				stars.forEach((s, i) => {
					if (i <= index) {
						s.classList.add('selected');
					} else {
						s.classList.remove('selected');
					}
				});

				// atualiza o valor da avaliação
				rating.value = index + 1;
			});
		});
	</script>
</body>
</html>
