<!DOCTYPE html>
<html>
<head>
	<title>Formulário</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>
<body>

<div class="container-fluid">
	<div class="row justify-content-center mt-5">
		<section class="col-12 colsm-6 col-md-4">
			<form class="form-container">
				<h4 class="text-center mt-4 mb-5" id="bemvindo">BEM-VINDO</h4>
				<div class="form-group">
                    E-mail
					<input type="text" class="form-control mb-5 mt-2" name="telefone" placeholder="exemplo@gmail.com">
				</div>

				<div class="d-flex align-items-center flex-column">
					<button class="btn btn-primary d-flex btn-block w-50 mb-5 justify-content-center" id="proximo">
                        <img src="/public/img/right-arrow.png" alt="" id="setadireita"> PRÓXIMO
                    </button>
				</div>

                <div class="d-flex align-items-center flex-column">
					<button class="btn btn-primary d-flex btn-block w-50 mb-5 justify-content-center" id="proximo">
                        <img src="/public/img/left-arrow.png" alt="" id="setadireita"> VOLTAR
                    </button>
				</div>

			</form>
		</section>
	</div>
</div>