<!DOCTYPE html>
<html>
<head>
	<title>Formulário</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>
<body>

<div class="container-fluid">
	<div class="row justify-content-center mt-5">
		<section class="col-12 colsm-6 col-md-4">
			<form class="form-container">
				<h4 class="text-center mt-4 mb-5" id="bemvindo">Tudo pronto!</h4>
				<div class="form-group text-center mb-5">
                    Seu cadastro está completo!
                    Você já pode usar seu cashback.
				</div>

				<div class="d-flex align-items-center flex-column">
					<!-- <button class="btn btn-primary d-flex btn-block w-50 mb-5 justify-content-center" id="proximo"> -->
                        <img src="/public/img/check.png" alt="" id="certo">
                    </button>
				</div>

			</form>
		</section>
	</div>
</div>