<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"></head>
    <link rel="stylesheet" href="/public/css/admStyle.css">
    <body class="bg-dark-subtle">
    <div class="container">
        <table class="table table-borderless align-middle caption-top bg-light" id="table">

            <caption class="bg-light" id="caption"><h1>Lista de clientes</h1>
            <p>9.000 clientes encontrados</p>
            <p>4.000 são participantes cadastrados</p>
            </caption>

            <thead><tr></tr>
            <th>Clientes</th>
            <th>Contatos</th>
            <th>Total gasto</th>
            <th>Avaliação</th>
            <th>última compra</th>
            <th>Gasto médio</th>
            <th>Cliente há</th>
            <th>Saldo</th>
            <th>Créditos conquistados</th>
            <th>Créditos resgatados</th>
            </thead>
            <tbody class="table-group-divider rounded"><tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
                <td>Coluna 3</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
            </tr>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
                <td>Coluna 3</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
            </tr>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
                <td>Coluna 3</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
            </tr>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
                <td>Coluna 3</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
            </tr>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
                <td>Coluna 3</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
                <td>Coluna 4</td>
            </tr></tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>