@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
	background-color: #00a898;
}

#caption h1 {
    font-weight: bold;
    color: black;
}


#divTudo {
    border-radius: 100px;
    background-color: black;
}

#clientesEncontrados {
    font-weight: bold;
    color: black;
}

#whatsapp, #email {
    max-width: 18px;
}

#searchBtn {
    max-width: 18px;
}