body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }

  .error-container {
    margin-top: 50px;
    text-align: center;
  }

  .error-code {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .error-message {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #c82333;
    border-color: #c82333;
    color: #fff;
  }